<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ClearMeasure.Bootcamp.UI</title>

        <environment names="Development">
            <link href="~/wwwroot/css/bootstrap.css" rel="stylesheet" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link href="~/wwwroot/css/bootstrap.min.css" rel="stylesheet" />
            <link href="~/wwwroot/css/site.min.css" rel="stylesheet" asp-file-version="true" />
        </environment>
    </head>
    <body>
@if (User.Identity.IsAuthenticated)
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                TODO (_Layout.cshtml) @*@Html.Action("Menu", "Navigation")*@
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <h1>Expense Report System</h1>
        </div>

        <div class="row">
            <div class="col-xs-3 well form-horizontal">
                <fieldset>
                    <legend class="h4">
                        Welcome, TODO (_Layout.cshtml) @*@Html.GetCurrentUser().GetFullName()*@

                        @Html.ActionLink("Logout", "Logout", "Account")
                    </legend>


                    <div class="form-group">
                        TODO (_Layout.cshtml) @*@Html.Action("Index", "ToDo")*@
                    </div>
                </fieldset>
            </div>
            <div class="col-xs-9">
                @RenderBody()
            </div>
        </div>
    </div>
}
else
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header navbar-text">
                Clear Measure Master Developer Boot Camp
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <h1>Expense Report System</h1>
        </div>
        <div id=unauthorized class=content-container>
            <p>
                This Work Order system allows an employee to create and assign a
                work order. This system uses a workflow paradigm to assign the
                work order and keep track of its status. At each state change,
                the system does something interesting.
            </p>
            @RenderBody()
        </div>
    </div>
}
    <div class="container">

        <footer>
            <p>&copy; 2015 - ClearMeasure.Bootcamp.UI</p>
        </footer>

    </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/wwwroot/js/bootstrap.js"></script>
            <script src="~/lib/hammer.js/hammer.js"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                    asp-fallback-src="~/lib/hammer.js/hammer.js"
                    asp-fallback-test="window.Hammer">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                    asp-fallback-src="~/lib/bootstrap-touch-carousel/dist/js/bootstrap-touch-carousel.js"
                    asp-fallback-test="window.Hammer && window.Hammer.Instance">
            </script>
            <script src="~/js/site.js" asp-file-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)
    </body>
</html>
